@-webkit-keyframes sm-bounce {
  /* line 17, ../sass/_common.sass */
  0% {
    top: 0em;
  }

  /* line 19, ../sass/_common.sass */
  50% {
    top: 1.3em;
  }

  /* line 21, ../sass/_common.sass */
  100% {
    top: 0em;
  }
}

@-moz-keyframes sm-bounce {
  /* line 17, ../sass/_common.sass */
  0% {
    top: 0em;
  }

  /* line 19, ../sass/_common.sass */
  50% {
    top: 1.3em;
  }

  /* line 21, ../sass/_common.sass */
  100% {
    top: 0em;
  }
}

@-ms-keyframes sm-bounce {
  /* line 17, ../sass/_common.sass */
  0% {
    top: 0em;
  }

  /* line 19, ../sass/_common.sass */
  50% {
    top: 1.3em;
  }

  /* line 21, ../sass/_common.sass */
  100% {
    top: 0em;
  }
}

@keyframes sm-bounce {
  /* line 17, ../sass/_common.sass */
  0% {
    top: 0em;
  }

  /* line 19, ../sass/_common.sass */
  50% {
    top: 1.3em;
  }

  /* line 21, ../sass/_common.sass */
  100% {
    top: 0em;
  }
}

@media (max-width: 767px) {
  /* line 28, ../sass/_common.sass */
  .bottom-left {
    position: fixed;
    top: 0;
    text-align: left;
    display: none;
    -webkit-animation: sm-bounce 1.5s infinite alternate;
    -moz-animation: sm-bounce 1.5s infinite alternate;
    -o-animation: sm-bounce 1.5s infinite alternate;
    animation: sm-bounce 1.5s infinite alternate;
  }
  /* line 34, ../sass/_common.sass */
  .bottom-left img {
    width: 40%;
  }

  /* line 36, ../sass/_common.sass */
  .bottom-right {
    position: fixed;
    top: 0;
    right: 1em;
    text-align: right;
    display: none;
    -webkit-animation: sm-bounce 1.5s infinite alternate;
    -moz-animation: sm-bounce 1.5s infinite alternate;
    -o-animation: sm-bounce 1.5s infinite alternate;
    animation: sm-bounce 1.5s infinite alternate;
  }
  /* line 43, ../sass/_common.sass */
  .bottom-right img {
    width: 40%;
  }

  /* line 45, ../sass/_common.sass */
  .col-xs-2 {
    width: 20%;
  }
}
@media (min-width: 769px) {
  @-webkit-keyframes bounce {
    /* line 51, ../sass/_common.sass */
    0% {
      bottom: 0em;
    }

    /* line 53, ../sass/_common.sass */
    50% {
      bottom: 1.3em;
    }

    /* line 55, ../sass/_common.sass */
    100% {
      bottom: 0em;
    }
}

  @-moz-keyframes bounce {
    /* line 51, ../sass/_common.sass */
    0% {
      bottom: 0em;
    }

    /* line 53, ../sass/_common.sass */
    50% {
      bottom: 1.3em;
    }

    /* line 55, ../sass/_common.sass */
    100% {
      bottom: 0em;
    }
}

  @-ms-keyframes bounce {
    /* line 51, ../sass/_common.sass */
    0% {
      bottom: 0em;
    }

    /* line 53, ../sass/_common.sass */
    50% {
      bottom: 1.3em;
    }

    /* line 55, ../sass/_common.sass */
    100% {
      bottom: 0em;
    }
}

  @keyframes bounce {
    /* line 51, ../sass/_common.sass */
    0% {
      bottom: 0em;
    }

    /* line 53, ../sass/_common.sass */
    50% {
      bottom: 1.3em;
    }

    /* line 55, ../sass/_common.sass */
    100% {
      bottom: 0em;
    }
}

  /* line 58, ../sass/_common.sass */
  .envelope {
    text-align: center;
    margin: 0 auto;
  }

  /* line 61, ../sass/_common.sass */
  .redEnv {
    display: inline-block;
    width: 180px;
    height: 300px;
    position: absolute;
  }
  /* line 66, ../sass/_common.sass */
  .redEnv img {
    width: 80%;
  }

  /* line 69, ../sass/_common.sass */
  .img1 {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    left: 25%;
  }

  /* line 72, ../sass/_common.sass */
  .img2 {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
    left: 35%;
    margin-top: -4em;
  }

  /* line 76, ../sass/_common.sass */
  .img3 {
    margin-top: -6em;
    left: 45%;
  }

  /* line 79, ../sass/_common.sass */
  .img4 {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
    margin-top: -4em;
    left: 55%;
  }

  /* line 83, ../sass/_common.sass */
  .img5 {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
    left: 66%;
  }

  /* line 87, ../sass/_common.sass */
  .img6 {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
    left: 24%;
    margin-top: 24em;
  }

  /* line 91, ../sass/_common.sass */
  .img7 {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    left: 35%;
    margin-top: 20em;
  }

  /* line 95, ../sass/_common.sass */
  .img8 {
    left: 45%;
    margin-top: 18em;
  }

  /* line 98, ../sass/_common.sass */
  .img9 {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
    left: 55%;
    margin-top: 20em;
  }

  /* line 102, ../sass/_common.sass */
  .img10 {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    left: 65%;
    margin-top: 24em;
    margin-bottom: 10em;
  }

  /* line 107, ../sass/_common.sass */
  .bottom-left {
    position: fixed;
    left: 1em;
    bottom: 0;
    text-align: left;
    display: none;
    -webkit-animation: bounce 1.5s infinite alternate;
    -moz-animation: bounce 1.5s infinite alternate;
    -o-animation: bounce 1.5s infinite alternate;
    animation: bounce 1.5s infinite alternate;
  }
  /* line 114, ../sass/_common.sass */
  .bottom-left img {
    width: 100%;
  }

  /* line 116, ../sass/_common.sass */
  .bottom-right {
    position: fixed;
    bottom: 0;
    right: 1em;
    text-align: right;
    display: none;
    -webkit-animation: bounce 1.5s infinite alternate;
    -moz-animation: bounce 1.5s infinite alternate;
    -o-animation: bounce 1.5s infinite alternate;
    animation: bounce 1.5s infinite alternate;
  }
  /* line 123, ../sass/_common.sass */
  .bottom-right img {
    width: 100%;
  }
}
/* line 126, ../sass/_common.sass */
body {
  font-family: "微軟正黑體", "arial";
  background: url(.././img/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 131, ../sass/_common.sass */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 135, ../sass/_common.sass */
.no-padding {
  padding: 0;
}

/* line 138, ../sass/_common.sass */
.main-pic {
  z-index: 999;
  display: none;
}

/* line 141, ../sass/_common.sass */
.pull-right, .pull-left, .content {
  display: none;
}

/* line 143, ../sass/_common.sass */
.bottom {
  opacity: 0;
}

/* line 146, ../sass/_common.sass */
.btn-download {
  border: 1px solid black;
  padding: 1em 2em;
  background: #ff963c;
  font-size: 14pt;
  color: white;
}

/* line 1, ../sass/_footer.sass */
.footer {
  width: 80%;
  position: fixed;
  bottom: -1em;
  left: 50%;
  margin-left: -25%;
  pointer-events: none;
}
